<div class="mainbar">
  <nav class="navbar    navbar-expand-md row mainbar">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="http://localhost:4200/home">

    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fa fa-bars" style="color: white"></i></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active" data-toggle="collapse" data-target="#bar2">
          <div class="input-group">
            <input [(ngModel)]="searchModel" type="text" class="form-control search-menu bg-light text-black-50 border-dark rounded-40" placeholder="  Discover...">
            <div class="input-group-append">
                                <span class="input-group-text bg-dark border-dark rounded-0">
                                    <i (click)="clickMe(); test()" class="fa fa-search-plus text-white" aria-hidden="true"></i>
                                </span>
            </div>
          </div>
        </li>

      </ul>


      <!-- Links -->
      <ul class="navbar-nav ml-auto">


        <li class="nav-item">
          <img class="profilePicture" src="http://placeimg.com/640/360/any%7D">
        </li>

        <li class="nav-item">
          <a class="nav-link name" routerLink="//1/">Andres Bayona</a>
        </li>


        <li class="nav-item">
          <div class="spacer"></div>
        </li>

        <li class="nav-item">
          <div class="spacer"></div>
        </li>

        <li class="nav-item">
          <div class="spacer"></div>
        </li>

        <li class="nav-item">
          <div class="spacer"></div>
        </li>


        <li class="nav-item">
          <a class="nav-link name" routerLink="/home/1"><span class="btn-outline-purple  fa fa-home fa-2x"></span></a>
        </li>


        <li class="nav-item">
          <div class="spacer"></div>
        </li>


        <li class="nav-item">
          <a class="nav-link name" routerLink="/users/1"><span class="btn-outline-purple  fa fa-bell fa-2x"></span></a>
        </li>


        <li class="nav-item">
          <div class="spacer"></div>
        </li>


        <li class="nav-item">
          <a class="nav-link  btn-outline-purple text" routerLink="//1/">Log out</a>
        </li>

        <li class="nav-item">
          <div class="spacer"></div>
        </li>

      </ul>


    </div>
    <!-- Collapsible content -->

  </nav>


  <nav id="bar2" class="collapse navbar navbar-expand-sm bar  row">

    <ul class="navbar-nav mr-auto">


      <li class="nav-item">


        <div class="  pretty p-switch p-slim col-1 " (click)="setType('posts'); update()">

          <input type="radio" name="radio1"/>
          <div class="state  p-primary">
            <label></label>
          </div>

        </div>

        <div class="item"> Posts</div>


      </li>


      <li class="nav-item">


        <div class="  pretty p-switch p-slim col-1 ">

          <input type="radio" name="radio1"/>
          <div class="state  p-primary">
            <label></label>
          </div>

        </div>

        <div class="item"> People</div>


      </li>

      <li class="nav-item">


        <div class="  pretty p-switch p-slim col-1 ">

          <input type="radio" name="radio1"/>
          <div class="state  p-primary">
            <label></label>
          </div>

        </div>

        <div class="item"> Places</div>


      </li>

      <li class="nav-item">


        <div class="  pretty p-switch p-slim col-1 ">

          <input type="radio" name="radio1"/>
          <div class="state  p-primary">
            <label></label>
          </div>

        </div>

        <div class="item"> Favors</div>


      </li>

      <li class="nav-item">


        <div class="  pretty p-switch p-slim col-1 ">

          <input type="radio" name="radio1"/>
          <div class="state  p-primary">
            <label></label>
          </div>

        </div>

        <div class="item"> Services</div>


      </li>

    </ul>


  </nav>

</div>


<div class="  backgroundSideBar ">

  <div class="d-none d-md-block" style="float: left;">
    <app-sidebar></app-sidebar>
  </div>


  <div class=" backgroundM  contentS" style="padding-left: 30px">


    <div *ngIf="searchModel.length == 0 ; else elseBlock">
      <router-outlet></router-outlet>
    </div>

    <ng-template #elseBlock>

      <app-post-list *ngIf="searchType == 'posts'" [notRouted]="true" [neigh_id]="1" [searchModel]="searchModel"></app-post-list>

    </ng-template>

  </div>

</div>


<app-footer s></app-footer>

