<div class="mainbar">
  <nav class="navbar    navbar-expand-md row mainbar">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="http://localhost:4200/home">

    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fa fa-bars" style="color: white"></i></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active" data-toggle="collapse" data-target="#bar2">
          <div class="input-group">
            <input [(ngModel)]="searchModel" type="text" class="form-control search-menu bg-light text-black-50 border-dark rounded-40" placeholder="  Discover...">
            <div class="input-group-append">
                                <span class="input-group-text bg-dark border-dark rounded-0">
                                    <i (click)="clickMe(); test()" class="fa fa-search-plus text-white" aria-hidden="true"></i>
                                </span>
            </div>
          </div>
        </li>

      </ul>


      <!-- Links -->
      <ul class="navbar-nav ml-auto">


        <li class="nav-item">
          <img class="profilePicture" src="http://placeimg.com/640/360/any%7D">
        </li>

        <li class="nav-item">
          <a class="nav-link name" routerLink="//1/">Andres Bayona</a>
        </li>


        <li class="nav-item">
          <div class="spacer"></div>
        </li>

        <li class="nav-item">
          <div class="spacer"></div>
        </li>

        <li class="nav-item">
          <div class="spacer"></div>
        </li>

        <li class="nav-item">
          <div class="spacer"></div>
        </li>


        <li class="nav-item">
          <a class="nav-link name" routerLink="/home/1"><span class="btn-outline-purple  fa fa-home fa-2x"></span></a>
        </li>


        <li class="nav-item">
          <div class="spacer"></div>
        </li>


        <li class="nav-item">
          <a class="nav-link name" routerLink="/users/1"><span class="btn-outline-purple  fa fa-bell fa-2x"></span></a>
        </li>


        <li class="nav-item">
          <div class="spacer"></div>
        </li>


        <li class="nav-item">
          <a class="nav-link  btn-outline-purple text" routerLink="//1/">Log out</a>
        </li>

        <li class="nav-item">
          <div class="spacer"></div>
        </li>

      </ul>


    </div>
    <!-- Collapsible content -->

  </nav>


  <nav id="bar2" class="collapse navbar navbar-expand-sm bar  row">

    <ul class="navbar-nav mr-auto">


      <li class="nav-item">


        <div class="  pretty p-switch p-slim col-1 " (click)="setType('posts'); update()">

          <input type="radio" name="radio1"/>
          <div class="state  p-primary">
            <label></label>
          </div>

        </div>

        <div class="item"> Posts</div>

      </li>


      <li class="nav-item">


        <div class="  pretty p-switch p-slim col-1 ">

          <input type="radio" name="radio1"/>
          <div class="state  p-primary">
            <label></label>
          </div>

        </div>

        <div class="item"> People</div>


      </li>

      <li class="nav-item">


        <div class="  pretty p-switch p-slim col-1 ">

          <input type="radio" name="radio1"/>
          <div class="state  p-primary">
            <label></label>
          </div>

        </div>

        <div class="item"> Places</div>


      </li>

      <li class="nav-item">


        <div class="  pretty p-switch p-slim col-1 ">

          <input type="radio" name="radio1"/>
          <div class="state  p-primary">
            <label></label>
          </div>

        </div>

        <div class="item"> Favors</div>


      </li>

      <li class="nav-item">


        <div class="  pretty p-switch p-slim col-1 ">

          <input type="radio" name="radio1"/>
          <div class="state  p-primary">
            <label></label>
          </div>

        </div>

        <div class="item"> Services</div>


      </li>

    </ul>


  </nav>

</div>


<div class="  backgroundSideBar ">

  <div class="d-none d-md-block" style="float: left;">


    <div id="body-row">
      <!-- Sidebar -->
      <div id="sidebar-container" class="menu-collapsed2 "><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
        <!-- Bootstrap List Group -->
        <ul class="list-group">


          <a data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="c1 c2 c3 c4 c5 c6" class="d-none d-md-block btn-outline-purple2 menu2 list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-bars  fa-fw mr-3 fa-2x"></span>
            </div>
          </a>


          <!-- Separator without title -->
          <li class="sidebar-separator "></li>


          <!-- /END Separator -->
          <!-- Menu with submenu -->
          <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="btn-outline-purple2 menu2 list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fas fa-file-text  fa-fw mr-3 fa-2x"></span>

              <div class="collapse width multi-collapse" id="c1">
                <span class="menu-collapsed2 d-none d-md-block">Posts</span>
              </div>

              <span class="submenu-icon ml-auto"></span>
            </div>
          </a>


          <!-- Separator without title -->
          <li class="sidebar-separator "></li>
          <!-- Submenu content -->
          <div id='submenu1' class="collapse sidebar-submenu">
            <a class="nav-link list-group-item list-group-item-action menu2 text-white" routerLink="/neighborhoods/{{neigh_id}}/residents/{{resident_id}}/posts">
               <span class="menu-collapsed2" (click)="posts.sortAsc()">My Posts</span>
            </a>
          </div>


          <!-- Separator without title -->
          <li class="sidebar-separator "></li>
          <a href="#" class="btn-outline-purple2 menu2 list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fas fa-hands-helping  fa-fw mr-3 fa-2x"></span>

              <div class="collapse width multi-collapse" id="c2">
                <span class="menu-collapsed2 d-none d-md-block">Favors</span>

              </div>
            </div>
          </a>

          <!-- Separator without title -->

          <!-- Separator without title -->
          <li class="sidebar-separator "></li>
          <a href="#" class="btn-outline-purple2 menu2 list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fas fa-calendar-alt  fa-fw mr-3 fa-2x"></span>
              <div class="collapse width multi-collapse" id="c3">
                <span class="menu-collapsed2 d-none d-md-block">Events</span>
              </div>
            </div>
          </a>


          <!-- Separator without title -->
          <li class="sidebar-separator "></li>
          <!-- /END Separator -->
          <a href="#" class="btn-outline-purple2 menu2 list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-home  fa-fw mr-3 fa-2x"></span>
              <div class="collapse width multi-collapse" id="c4">
                <span class="menu-collapsed2 d-none d-md-block">Neighborhood</span>
              </div>
            </div>
          </a>


          <!-- Separator without title -->
          <li class="sidebar-separator "></li>
          <!-- /END Separator -->
          <a href="#" class="btn-outline-purple2 menu2 list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fas fa-tasks  fa-fw mr-3 fa-2x"></span>
              <div class="collapse width multi-collapse" id="c5">
                <span class="menu-collapsed2 d-none d-md-block">Services</span>
              </div>
            </div>
          </a>


          <!-- Separator without title -->
          <li class="sidebar-separator "></li>
          <!-- /END Separator -->
          <a href="#" class="btn-outline-purple2 menu2 list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-question  fa-fw mr-3 fa-2x"></span>
              <div class="collapse width multi-collapse" id="c6">
                <span class="menu-collapsed2 d-none d-md-block">Help</span>
              </div>
            </div>
          </a>


        </ul><!-- List Group END-->


      </div><!-- sidebar-container END -->


    </div><!-- body-row END -->


  </div>


  <div class=" backgroundM  contentS">


    <div *ngIf="searchModel.length == 0 ; else elseBlock">
      <router-outlet></router-outlet>
    </div>

    <ng-template #elseBlock>

      <app-post-list *ngIf="searchType == 'posts'" [notRouted]="true" [searchModel]="searchModel"></app-post-list>

    </ng-template>

  </div>

</div>


<app-footer s></app-footer>

