<h3>
  Residents-List
</h3>
<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
      <tr>
        <th class="h5">phoneNumber</th>
        <th class="h5">email</th>
        <th class="h5">name</th>
        <th class="h5">nickname</th>
        <th class="h5">address</th>
        <th class="h5">preferences</th>
        <th class="h5">proofOfResidence</th>
        <th class="h5">neighborhood</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of residents">

         <td><dd>{{c.phoneNumber}}</dd></td>
         <td><dd>{{c.email}}</dd></td>
         <td><dd>{{c.name}}</dd></td>
         <td><dd>{{c.nickname}}</dd></td>
         <td><dd>{{c.address}}</dd></td>
         <td><dd>{{c.preferences}}</dd></td>
         <td><dd>{{c.proofOfResidence}}</dd></td>
         <td><dd>{{c.neighborhood}}</dd></td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
