<div class="card" style="width: 60rem;">
  <div class="card-body">
    <h5 class="card-title">{{businessDetail.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Owner: {{businessDetail.owner.name}}</h6>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h6>Address:</h6>
          {{businessDetail.address}}
        </div>
        <div class="col-sm">
          <h6>Opening Time:</h6>
          {{businessDetail.openingTime}}
        </div>
        <div class="col-sm">
          <h6>Latitude:</h6>
          {{businessDetail.latitude}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <h6>Rating:</h6>
          {{businessDetail.rating}}
        </div>
        <div class="col-sm">
          <h6>Closing Time:</h6>
          {{businessDetail.closingTime}}
        </div>
        <div class="col-sm">
          <h6>Longitude:</h6>
          {{businessDetail.longitude}}
        </div>
      </div>
    </div>

  </div>
</div>
