<div class="container-fluid row bar">



  <tr>
    <div class="col-1 item">
      <label>Posts</label>
    </div>
  </tr>

  <tr>
    <div class="pretty p-switch p-slim col-1 ">
      <input type="radio" name="radio1"/>
      <div class="state  p-primary">
        <label></label>
      </div>
    </div>

  </tr>


  <tr>
    <div class="col-1 item">
      <label>Posts</label>
    </div>
  </tr>

  <tr>
    <div class="pretty p-switch p-slim col-1 ">
      <input type="radio" name="radio1"/>
      <div class="state  p-primary">
        <label></label>
      </div>
    </div>

  </tr>


  <tr>
    <div class="col-1 item">
      <label>Posts</label>
    </div>
  </tr>

  <tr>
    <div class="pretty p-switch p-slim col-1 ">
      <input type="radio" name="radio1"/>
      <div class="state  p-primary">
        <label></label>
      </div>
    </div>

  </tr>


  <tr>
    <div class="col-1 item">
      <label>Posts</label>
    </div>
  </tr>

  <tr>
    <div class="pretty p-switch p-slim col-1 ">
      <input type="radio" name="radio1"/>
      <div class="state  p-primary">
        <label></label>
      </div>
    </div>

  </tr>




</div>





