<header>
  <div fxLayout="row" fxLayoutAlign="space-between left">
    <div fxLayout="row" fxLayoutGap="20px">
      <h1 style="color: #b3cbe0;"> nighQ</h1>
      <a routerLink="/login">
        <p>About</p>
      </a>
      <a routerLink="/registration">
        <p>Meet the Team</p>
      </a>
      <a routerLink="/dashboard">
        <p>Contact</p>
      </a>
    </div>
  </div>
</header>



<div class="content" fxFlex>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 desc">
        <p id="desc"> Want to get to know your neighbors the easy way?</p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="content" fxFlex>
    <h3><span style="color:#b3cbe0">2020 ©neighQ made by </span> <span style="color: #ffffff">Int Elligence</span>
    </h3>
  </div>
</footer>
