<header>
  <div fxLayout="row" fxLayoutAlign="space-between left">
    <div fxLayout="row" fxLayoutGap="20px">
      <img src="/assets/img/logoMine.png" alt="Smiley face" width="224" height="70" class="responsive">

      <a routerLink="/login">
        <p>About</p>
      </a>
      <a routerLink="/registration">
        <p>Meet the Team</p>
      </a>
      <a routerLink="/newNeighborhood">
        <p>For Neighborhoods</p>
      </a>
    </div>
  </div>
</header>



<div class="content" fxFlex>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 desc">
        <div class="row">
          <p id="descTit"> Want to get to know your neighbors the easy way?</p>
          <p id="descTx"> Join groups, ask for favors, attend events, make friends. <br />  All the tip of your ﬁngertips.</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-6 but1">
            <button type="button" class="btn btn-primary btn-round-lg btn-lg one">Join</button>
          </div>
          <div class="col-sm-6 but2">
            <button type="button" class="btn btn-primary btn-round-lg btn-lg">Login</button>
          </div>
        </div>
      </div>

      <div class="col-sm-8 profile">
          <img src="/assets/img/Profiles.png" alt="Smiley face" width=550 class="responsive">
      </div>
    </div>
  </div>
</div>

