<table>
  <tr class="backgroundD">

    <td class="postFrame container-fluid">

      <div class="row header">
        <div class="col-md-auto ">

          <img class="profilePicture" src="{{postDetail.author.profilePicture}}}">


        </div>
        <div class="col-md-auto">
          <div class="row name">{{postDetail.author.name}}
          </div>
          <div class="row spacer">
          </div>
          <div class="row date">{{getDate(postDetail.publishDate)}}
          </div>
        </div>

      </div>

      <div class="spacer">
        <table class="table-light">
          <thead>
          <tr>
            <th class="a" scope="col"> {{postDetail.title}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td> {{postDetail.description}}</td>
          </tr>

          </tbody>

        </table>

      </div>
      <div *ngIf="this.postDetail.album != null" class="spacerPhoto">


        <div id="{{'carouselExampleIndicators' + this.postDetail.id}}" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li *ngFor="let f of postDetail.album,let i = index" data-target="#carouselExampleIndicators" class="{{ (i == 0) ? 'active' : '' }}" attr.data-slide-to="{{i}}"></li>
          </ol>
          <div class="carousel-inner">
            <div *ngFor="let f of postDetail.album,let i = index" class="{{ (i == 0) ? 'carousel-item active' : 'carousel-item' }}">
              <img class="d-block w-100" src="{{postDetail.album[i]}}" alt="slide {{i}}">

            </div>

          </div>
          <a class="carousel-control-prev" href="#{{'carouselExampleIndicators' + this.postDetail.id}}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#{{'carouselExampleIndicators' + this.postDetail.id}}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div class="spacer">

        <hr style="border: 1px solid#C8C8C8;"/>

        <div class="row">
          <div class="col-md-4">
            <a class=" buttons btn btn-light d-flex justify-content-center" (click)="toggleCreateComments()"> <i class="fa fa-comments"></i></a>
          </div>

          <div class="col-md-4">
            <a class="buttons btn btn-light  d-flex justify-content-center" (click)="addLike()"> <i class="fa fa-thumbs-up"></i></a>
          </div>
          <div class="col-md-4">
            <a class="buttons btn btn-light  d-flex justify-content-center" (click)=" toggleCreateComments()"> <i class="fa fa-share-square"></i></a>
          </div>


        </div>

        <hr style="border: 1px solid#C8C8C8;"/>

      </div>

      <div class="spacer">


        <div class="row">
          <div class="col-md-4">
            <a class="options d-flex justify-content-center">Likes ({{postDetail.numberOfLikes}})</a>
          </div>

          <div class="col-md-4">
            <a data-toggle="collapse" data-target="#viewers" class="options d-flex justify-content-center"> Viewers ({{postDetail.viewers.length}}) </a>
          </div>
          <div class="col-md-4">
            <a class="options d-flex justify-content-center" (click)=" toggleComments()"> Comments ({{postDetail.comments.length}}) </a>
          </div>


        </div>


      </div>


      <div>
        <app-post-comment-create [post]="postDetail" (updateComment)="updateComments()"></app-post-comment-create>

        <app-post-comment [comments]="postDetail.comments"></app-post-comment>


      </div>

      <div class="spacer">

        <a *ngIf="commentComponent.isCollapsed == false" class="options d-flex justify-content-center" (click)=" toggleComments()"> Hide comments ({{postDetail.comments.length}}) </a>
      </div>

    </td>


    <td class="viewersFrame collapse width" id="viewers">
      <div class="list-group">
          <input class="form-control" id="myInput" type="text" placeholder="Search..." [(ngModel)]="searchModel">
        <a href="#" class="list-group-item list-group-item-action" style="padding: 1px; min-width: 100%; margin-bottom: 5px" *ngFor="let r of viewers  | residentName:searchModel">
          <span><img class=" smallPicture" [src]="'http://placeimg.com/500/500/people'"/></span>
          <span class="name2"> {{r.name}}</span>
          <!--    <img height="15" width="15" [src]="r.profilePicture"/>-->
        </a>

      </div>
    </td>


  </tr>

</table>

