<div class="container-fluid">
  <div class="row v-center justify-content-center">



    <div id="place" class="rightPanel col">
      <div class="thumbPrint">
        <div class="row v-center text-right">

          <div class="col-sm-8">
            <div class="row">
              <h1> Welcome to <span style="font-size:3.5vw; color: #FFc84d;"> {{name}}</span>. <br />
                <span style="font-size: 2vw;">Open the menu to see a detail!</span> </h1>
            </div>
            <img src="/assets/img/select.svg" alt="Smiley face">
          </div>

         <div class="col createCol">
          <div id="cardsRow" class="row" style=" display: flex;
          align-items: center;
          justify-content: center;">
            <div  class="col align-items-right"
            style="text-align: center; padding: 0; ">

              <div routerLink="/newBusiness" class="card card-block d-flex" style="width: 60%;">
                <div class="card-body align-items-center d-flex justify-content-center">
                  <h3>
                    Create Business
                  </h3>
                </div>
              </div>

              <div class="card card-block d-flex" style="width: 60%;">
                <div class="card-body align-items-center d-flex justify-content-center">
                  <h3>
                    New Event
                  </h3>
                </div>
              </div>

              <div routerLink="/newLocation" class="card card-block d-flex" style="width: 60%;">
                <div class="card-body align-items-center d-flex justify-content-center">
                  <h3>
                    New Location
                  </h3>
                </div>
              </div>
              <div class="card card-block d-flex" style="width: 60%;">
                <div class="card-body align-items-center d-flex justify-content-center">
                  <h3>
                    New Group
                  </h3>
                </div>
              </div>






            </div>

         </div>

        </div>
      </div>
    </div>

  </div>
</div>
