<div class="container-fluid">
  <div class="row v-center justify-content-center">



    <div id="place" class="rightPanel col">
      <div class="thumbPrint">
        <div class="row v-center text-right">

          <div class="col">
            <div class="row">
              <h1> Welcome to <span style="font-size:3.5vw; color: #FFc84d;"> {{name}}</span>. <br/>
                <span style="font-size: 2vw;">Open the menu to see a detail!</span>  </h1>

            </div>
            <img src="/assets/img/select.svg" alt="Smiley face">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
