<div class="container-fluid border border-light" style="border:1px solid #cecece;">

  <div class="row">
    <div id="resTitle" class="col-sm-2 col-md-2" style="text-align: center;">

      <h2>
        Businesses
      </h2>
    </div>
  </div>
  <button type="button" class="btn btn-warning float-right" (click)="nothingSelected()">
    Minimize
  </button>

  <div id="cardsRow" class="row">


    <div *ngIf= "selected" class="row" style="text-align: center; padding: 0;">
      <app-business-detail [businessDetail]= "selectedBusiness"></app-business-detail>
    </div>

    <div *ngFor="let r of businesses" class="col-sm-2 col-md-4 align-items-center"
      style="text-align: center; padding: 0;">
      <div id="point" (click)="onSelected(r)" class="card card-block d-flex">
        <div class="card-body align-items-center d-flex justify-content-center">
          <h4>
            {{r.name}}
          </h4>
        </div>
      </div>
    </div>
  </div>
