:host {
  height: 80%;
}

h3 {
  font-size: 1.6vw;
  font-family: Futura;
}

h4 {
  font-size: 1.3vw;
  font-family: Futura;
  color: white;
}

#resTitle {
  background-color: white;
  border-bottom-right-radius: 1vw;
  color: #544fa6;
  padding:.5vw;
}
.container-fluid {
  background-color: #36393F;
  height: 100%;
  margin-bottom: 1vw;
  border-bottom-right-radius: 1vw;
  border-top-right-radius: 1vw;
}

#cardsRow {
  margin: 3vw;
  margin-top: 2vw;
  max-height: 100%;
}

.card {
  height: 5vw;
  background-color: #c23d69;
  border-radius: 0.5vw;
  margin: 1vw;
}

.card:hover{
  opacity: .5;
}

#point:hover{
  cursor: pointer!important;
}

#rateFilter {
  margin: 1vw;
  display: inline-block
}

#filterbutton {
  margin: 1vw !important;
}

#search {
  border-radius: 0.5vw;
  width: 25vw;
  background-color: #36393f;
  margin: 5px;
  padding: 1vw;
}
