<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- Bootstrap row -->
<div class="row">


    <div id="main" class="col-md-10">

        <div *ngIf="searchModel.length > 0 ; else elseBlock" class="container">


            <div *ngFor="let post of posts">

                <div id="{{ post.id + 's' }}" #c>
                    <app-post-detail  (init)="updateInits(post.id)" *visibleWith="c.id" [neighborhood_id]=neigh_id [post_id]=post.id>
                    </app-post-detail>
                </div>
                <div *ngIf="isNotActive(post.id)"><app-spacer></app-spacer></div>
            </div>

        </div>
        <ng-template #elseBlock>

            <div *ngFor="let post of posts">

                <div id="{{ post.id }}" #v>
                    <app-post-detail  (init)="updateInits(post.id)" *visibleWith="v.id" [neighborhood_id]=neigh_id [post_id]=post.id>
                    </app-post-detail>
                </div>
                <div *ngIf="isNotActive(post.id)"><app-spacer></app-spacer></div>
            </div>


        </ng-template>

    </div>

</div>

</body>

</html>
