
p.editar {
  color: #009fff;
  font-style: normal;
  font-size: 12px;
}

p.eliminar {
  color: #ff0000;
  font-style: normal;
  font-size: 12px;
}

.checked {
  color: orange;
}


.spacer {
  background-color: white;
  margin-left: 35px;

}


.spacerPhoto {
  background-color: white;
  margin: 10px 0px;
  width: 100%;

}

.profilePicture {


  border: 2px solid #a3dff5;
  color: rgb(38, 38, 38);

  border-image-repeat: stretch;
  border-image-source: none;

  cursor: pointer;
  display: inline;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 40px;
  line-height: 18px;
     margin-bottom: 0px;
    margin-left: 20px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 40px;
  -webkit-box-direction: normal;
  border-radius: 6px;


}

.date {

       color: rgb(74, 126, 142);
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 7px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
    font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
   letter-spacing: 0.2px;
  line-height: 18px;
  text-transform: uppercase;
  float: right;
    margin-right: 35px;
    margin-top: -20px;

}


.name {


  color: rgb(38, 38, 38);
  cursor: pointer;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 600;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
    margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  text-align: left;
  text-decoration-color: rgb(38, 38, 38);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-overflow: ellipsis;
  text-size-adjust: 100%;
  text-transform: none;
  user-select: auto;
  -webkit-appearance: none;
  -webkit-box-direction: normal;


}


.header {
  border-bottom-color: rgb(239, 239, 239);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 0, 0);
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(38, 38, 38);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: auto;
  width: 100%;
  line-height: 18px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  vertical-align: baseline;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;

}

.text {


        color: rgb(49, 49, 49);
  cursor: text;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
  font-stretch: 100%;
    font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 300;
}

.backgroundC {

  background-color: #f7f7f7;
}
