<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div [ngbCollapse]="isCollapsed">


    <tr *ngFor="let r of comments; let i = index">
        <div class="row header">
            <div class="col-md-1 ">

                <img *ngIf="r.author.profilePicture != null" class="profilePicture" src="{{r.author.profilePicture}}}">

                <img *ngIf="r.author.profilePicture == null" class="profilePicture" src="  https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS66Ukl8UTumuzg5glSqKAM0GLgv3VGuGLpmlp5muFBURXWWY8X&usqp=CAU">


            </div>


            <span class="spacer"></span>
            <div class="col-md-10">
                <div class="row name">{{r.author.name}}<span class = "text" > &nbsp; {{r.text}}</span>
                </div>
                <div class="row spacer">
                </div>
                <div class="row date"><span class="spacer"></span>{{getDate(r.date)}}
                </div>
            </div>
        </div>

    </tr>

</div>


</body>

</html>