
.spacer {

  height: 500%;

}

.buttons {
  color: #ac00ff;

}

.placeholder1 {
  color: rgb(74, 126, 142);
  cursor: pointer;
  display: inline;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  letter-spacing: 02px;
  line-height: 18px;
  text-size-adjust: 100%;
  text-transform: uppercase;
  -webkit-box-direction: normal;

}

.postFrame {

  max-width: 560px;
  height: 670px;
  margin: 0 auto;
  background-color: white;
  padding: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-radius: 6px;
  border: 1px solid rgb(193, 193, 193);
  color: rgb(38, 38, 38);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  margin-bottom: 60px;
  margin-top: 0px;
  text-size-adjust: 100%;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;

}

.smallPicture {
  height: 61px;
  width: 61px;
  border: 3px solid #6d16f7;
  border-radius: 50%;

}

.name {

  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif, Charcoal, sans-serif;
  font-size: 20px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 800;
  color: #112428;
  letter-spacing: 0.2px;
}

.nickName {

  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif, Charcoal, sans-serif;
  font-size: 17px;
  font-stretch: 100%;
  font-style: italic;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 800;
  color: #424241;
  letter-spacing: 0.2px;
}

.placeholder2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 30px !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  text-align: left !important;
  color: #1f1f1f !important;
}

.item5 {

   padding: 20px;
  min-width: 100%;
}
