
<div id="body-row">
  <!-- Sidebar -->
  <div id="sidebar-container" class="menu-collapsed2 "><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
    <!-- Bootstrap List Group -->
    <ul class="list-group">


      <a data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="c1 c2 c3 c4 c5 c6" class="d-none d-md-block btn-outline-purple2 menu2 list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-bars  fa-fw mr-3 fa-2x"></span>
        </div>
      </a>


      <!-- Separator without title -->
      <li class="sidebar-separator "></li>


      <!-- /END Separator -->
      <!-- Menu with submenu -->
      <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="btn-outline-purple2 menu2 list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fas fa-file-text  fa-fw mr-3 fa-2x"></span>

          <div class="collapse width multi-collapse" id="c1">
            <span class="menu-collapsed2 d-none d-md-block">Posts</span>
          </div>

          <span class="submenu-icon ml-auto"></span>
        </div>
      </a>


      <!-- Separator without title -->
      <li class="sidebar-separator "></li>
      <!-- Submenu content -->
      <div id='submenu1' class="collapse sidebar-submenu">
        <a class="nav-link list-group-item list-group-item-action menu2 text-white" routerLink="/neighborhoods/{{neigh}}/residents/{{resident}}/posts">
          <span class="menu-collapsed2">My Posts</span>
        </a>
      </div>


      <!-- Separator without title -->
      <li class="sidebar-separator "></li>
      <a href="#" class="btn-outline-purple2 menu2 list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fas fa-hands-helping  fa-fw mr-3 fa-2x"></span>

          <div class="collapse width multi-collapse" id="c2">
            <span class="menu-collapsed2 d-none d-md-block">Favors</span>

          </div>
        </div>
      </a>

      <!-- Separator without title -->

      <!-- Separator without title -->
      <li class="sidebar-separator "></li>
      <a href="#" class="btn-outline-purple2 menu2 list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fas fa-calendar-alt  fa-fw mr-3 fa-2x"></span>
          <div class="collapse width multi-collapse" id="c3">
            <span class="menu-collapsed2 d-none d-md-block">Events</span>
          </div>
        </div>
      </a>


      <!-- Separator without title -->
      <li class="sidebar-separator "></li>
      <!-- /END Separator -->
      <a href="#" class="btn-outline-purple2 menu2 list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-home  fa-fw mr-3 fa-2x"></span>
          <div class="collapse width multi-collapse" id="c4">
            <span class="menu-collapsed2 d-none d-md-block">Neighborhood</span>
          </div>
        </div>
      </a>


      <!-- Separator without title -->
      <li class="sidebar-separator "></li>
      <!-- /END Separator -->
      <a href="#" class="btn-outline-purple2 menu2 list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fas fa-tasks  fa-fw mr-3 fa-2x"></span>
          <div class="collapse width multi-collapse" id="c5">
            <span class="menu-collapsed2 d-none d-md-block">Services</span>
          </div>
        </div>
      </a>


      <!-- Separator without title -->
      <li class="sidebar-separator "></li>
      <!-- /END Separator -->
      <a href="#" class="btn-outline-purple2 menu2 list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-question  fa-fw mr-3 fa-2x"></span>
          <div class="collapse width multi-collapse" id="c6">
            <span class="menu-collapsed2 d-none d-md-block">Help</span>
          </div>
        </div>
      </a>


    </ul><!-- List Group END-->


  </div><!-- sidebar-container END -->


</div><!-- body-row END -->
