<body>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<div class="fitandcenter">
  <div class="row fitandcenter">
    <div class="row fitandcenter" style="max-width: 110%">
      <div *ngFor="let p of album" class="col-lg-4 col-md-10      thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""

           data-target="#image-gallery"
           attr.data-image="{{p}}">

          <img class="img-thumbnail"
               src='{{p}}'
               alt="Another alt text">
        </a>
      </div>
    </div>


    <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">


            <div id="{{'carouselExampleIndicators'}}" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li *ngFor="let f of album,let i = index" data-target="#carouselExampleIndicators" class="{{ (i == 0) ? 'active' : '' }}" attr.data-slide-to="{{i}}"></li>
              </ol>
              <div class="carousel-inner">
                <div *ngFor="let f of album,let i = index" class="{{ (i == 0) ? 'carousel-item active' : 'carousel-item' }}">
                  <img class="d-block w-100" src="{{album[i]}}" alt="slide {{i}}">

                </div>

              </div>
              <a class="carousel-control-prev" href="#{{'carouselExampleIndicators'}}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
              <a class="carousel-control-next" href="#{{'carouselExampleIndicators'}}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>


        </div>
      </div>
    </div>
  </div>
</div>

</body>
`
