<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- Author:  Andres Bayona -->
<html>
<head>


</head>

<body class="container-fluid ">

<br>
<div><span class="item">&nbsp; &nbsp; {{favor.title}} &nbsp;&nbsp; </span></div>


<div class="name ">{{favor.author.name}} <span class="date">{{getDate(favor.datePosted)}}   </span></div>

<br>

<div class="options"><i class="fa fa-caret-down fa-2x"></i></div>


</body>
</html>
