<div class="container-fluid">
  <div class="header text-center" style="padding:5px; color:white;">
    <h1>{{name}}</h1>
  </div>


  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>

  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li id="first" routerLink="/main">
        <h6><i class="fa fa-briefcase fa-fw" aria-hidden="true"></i> Businesses</h6>
      </li>
      <li routerLink="/main">
        <h6><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> Events</h6>
      </li>
      <li routerLink="/main">
        <h6><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> Locations</h6>
      </li>
      <li id="last" outerLink="/main">
        <h6><i class="fa fa-users fa-fw" aria-hidden="true"></i> Groups</h6>
      </li>
      <li routerLink="/main">
        <h6><i class="fa fa-user fa-fw" aria-hidden="true"></i> Residents</h6>
      </li>
      <li routerLink="/main">
        <h6><i class="fa fa-cubes fa-fw" aria-hidden="true"></i> Services</h6>
      </li>



    </ul>
  </div>

  <div id='center' class="main center">
    <div class="row mainInner">

      <div class="container-fluid">
        <div id="content" class="row" style="width: 100%;">


          <div *ngFor="let n of people"class="cardCol col-sm-3 col-md-3">
            <div  class="card align-items-center" style="width: 100%;">
              {{n.name}}
            </div>
          </div>







        </div>
      </div>

    </div>



  </div>



</div>
