<div class="container-fluid">
  <div class="header text-center" style="padding:5px; color:white;">
    <h2>Inticaya <span>Engativá</span></h2>

  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li routerLink="/main">
        <span>All Businesses</span>
      </li>
      <li routerLink="/main">
        <span>All Events</span>
      </li>
      <li routerLink="/main">
        <span>All Events</span>
      </li>
      <li routerLink="/main">
        <span>All Services</span>
      </li>
      <li routerLink="/main">
        <span>All Resident</span>
      </li>
      <li routerLink="/main">
        <span>All Groups</span>
      </li>

    </ul>
  </div>
  <div id='center' class="main center">
    <div class="mainInner">
      <div>NEW RESIDENTS</div>
    </div>
    <div class="mainInner">
      <div>UPCOMING EVENTS</div>
    </div>
    <div class="mainInner">
      <div>HIGH-RATED BUSINESSES</div>
    </div>
  </div>


</div>
