:host {
  background-image: linear-gradient(
    to right,
    #d16ba5,
    #be64a6,
    #a95ea7,
    #9158a7,
    #7854a5,
    #7854a5,
    #7854a5,
    #7854a5,
    #9158a7,
    #a95ea7,
    #be64a6,
    #d16ba5
  );
  width: 100%;
  height: 100%;
}
