<div style="min-height: 100%;">


  <div class=" banner">


    <div class="wraper2 row">
      <div class="wraper row">


        <div style="align-self: flex-end">

          <tr class="name">{{group.name}}
          </tr>
          <tr class="year">Active group in {{group.neighborhood.name}} since  {{group.dateCreated.substring(0, 4)}} with  {{group.members.length}} members
          </tr>

        </div>

      </div>
    </div>
    <div class="muralPicture"></div>
    <div class="transparencyPanel"></div>


  </div>

  <div class="info">
    <div class="options">More of {{group.name}}

    </div>

    <div class="options">
      <i (click)="toggle11(); toggle12() " attr.data-target="#collapseR_{{group.id }}" data-toggle="collapse" *ngIf="toggle1" class=" fa fa-caret-down fa-2x"></i>
      <i (click)="toggle11(); toggle12() " attr.data-target="#collapseR_{{group.id}}" data-toggle="collapse" *ngIf="toggle2" class=" fa fa-caret-up fa-2x"></i>
    </div>

  </div>

  <div id="collapseR_{{group.id}}" class="collapse">
    <div class="infoPanel container-fluid">

      <div class="attributeLine">
        <div class="row">

          <div class="col-md-3">
            <div class="groupAttributeName">
              <span> &nbsp;</span>
              <span class="atributeIcon fas fa-info-circle">
            </span> &nbsp; About
            </div>
          </div>

          <div class="col-md-5">
            <div *ngIf="!isEmpty(group.description)" class="groupAttribute"> {{group.description}}
            </div>
            <div *ngIf="isEmpty(group.description)" class="emptyAttribute"> Nothing to show
            </div>
          </div>
          <div class="col-md-4">
          </div>
        </div>

        <div class="attributeLine">
          <div class="row">
            <div class="col-md-3">
              <div class="groupAttributeName">
                <span> &nbsp;</span>
                <span class="atributeIcon fas fa-history">
            </span> &nbsp; Created in
              </div>
            </div>
            <div class="col-md-5">
              <div *ngIf="!isEmpty(group.dateCreated)" class="groupAttribute"> {{group.dateCreated}}
              </div>
              <div *ngIf="isEmpty(group.dateCreated)" class="emptyAttribute"> Nothing to show
              </div>
            </div>
            <div class="col-md-4">
            </div>
          </div>
        </div>

        <div class="attributeLine">
          <div class="row">
            <div class="col-md-3">
              <div class="groupAttributeName">
                <span> &nbsp;</span>
                <span class="atributeIcon fas fa-people-arrows">
            </span> &nbsp; Members
              </div>
            </div>
            <div class="col-md-5">
              <div *ngIf="!isEmpty(group.members.length)" class="groupAttribute"> {{group.members.length}}
              </div>
              <div *ngIf="isEmpty(group.members.length)" class="emptyAttribute"> Nothing to show
              </div>
            </div>
            <div class="col-md-4">
            </div>
          </div>
        </div>

        <div class="attributeLine">
          <div class="row">
            <div class="col-md-3">
              <div class="groupAttributeName">
                <span> &nbsp;</span>
                <span class="atributeIcon fas fa-file-alt">
            </span> &nbsp; Posts
              </div>
            </div>
            <div class="col-md-5">
              <div *ngIf="!isEmpty(group.posts.length)" class="groupAttribute"> {{group.posts.length}}
              </div>
              <div *ngIf="isEmpty(group.posts.length)" class="emptyAttribute"> Nothing to show
              </div>
            </div>
            <div class="col-md-4">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <table class="container-fluid row " style="max-height: 100%; margin: 0 auto; max-width: 100%;  ">
    <tr class="accordion">


      <td tabindex="0" class="tabs">
        <div class="links post-icon">
          <i></i> <a> </a>
        </div>
        <div class="container2">

          <app-post-list
            [postsByInput]="true" [neigh_id]="neigh_id" [posts]="group.posts" [originals]="group.posts">
          </app-post-list>
        </div>
      </td>

      <td tabindex="0" class="tabs">
        <div class="links members-icon">
          <i></i> <a> </a>
        </div>


        <div class="container2">
          <app-simple-resident-list [residents]="group.members">
          </app-simple-resident-list>
        </div>

      </td>


      <td tabindex="0" class="tabs">
        <div class="links events-icon">
          <i></i> <a> </a>
        </div>

      </td>

      <td tabindex="0" class="tabs">
        <div class="links pictures-icon">
          <i></i> <a> </a>
        </div>
        <div class="paragraph">
          <h1>Facebook</h1>

        </div>
      </td>


    </tr>
  </table>

</div>
