<div style="     min-height: 100%;">
  <div class=" banner" style="background-image: url('https://wallpaperaccess.com/full/1760835.jpg');">


    <div class="wraper row">

      <div class="name"> &nbsp; &nbsp;&nbsp;{{group.name}}         <i class="fas fa-tasks fa-fw mr-3 fa-2x"></i>
      </div>


    </div>


    <div class="footer ">

    </div>
  </div>

  <div class="info">
    <p class="options"> Description: <span>{{group.description}}</span></p>
    <br>
    <hr style="border: 1px solid#C8C8C8;"/>
    <p class="options"> Date created: <span>{{group.dateCreated}}</span></p>

    <!--    <div class="options"> Members:</div>-->
    <!--    <div *ngFor="let r of group.members">-->

    <!--      <app-simple-resident [resident]="r">-->
    <!--      </app-simple-resident>-->


    <!--    </div>-->

    <div class="container-fluid row">
      <ul class="accordion">
        <li tabindex="0" class="tabs">


          <div class="social-links twitter-icon">
            <a>LinkedIn</a>
          </div>
          <div class="paragraph">
            <h1>Twitter</h1>
            <p>My thoughts in 140 characters or less. Sometimes, I do not know how to correctly use Twitter.</p>
          </div>


        </li>

        <li tabindex="0" class="tabs">
          <div class="social-links facebook-icon">
            <a>LinkedIn</a>
          </div>
          <div class="paragraph">
            <h1>Facebook</h1>
            <p>Where I get to stalk my friends and let them stalk me. A place to get people to stroke your ego.</p>
          </div>
        </li>
        <li tabindex="0" class="tabs">
          <div class="social-links linkedin-icon">
            <a>LinkedIn</a>
          </div>
          <div class="paragraph">
            <h1>LinkedIn</h1>
            <p>I act totally professional on this one. It is what the recruiters see, you see.</p>
          </div>
        </li>
        <li class="tabs">
          <div class="social-links insta-icon">
            <a>Instagram</a>
          </div>
          <div class="paragraph">
            <h1>Instagram</h1>
            <p>Where I post my duckface pictures. Occasionally, I would post pictures of my food and my cats.</p>
          </div>
        </li>
        <li class="tabs">
          <div class="social-links youtube-icon">
            <a href="https://youtube.com">Youtube</a>
          </div>
          <div class="paragraph">
            <h1>YouTube</h1>
            <p>Just kidding! I do not have a YouTube account. I'm not too fond of the camera.</p>
          </div>
        </li>
        <li class="tabs">
          <div class="social-links tumblr-icon">
            <a href="https://renettarenula.tumblr.com/">Tumblr</a>
          </div>
          <div class="paragraph">
            <h1>Tumblr</h1>
            <p>I have a tumblr but I don't really use it. I still prefer WordPress. I'm quite old-fashioned.</p>
          </div>
        </li>
        <li class="tabs">
          <div class="social-links dribbble-icon">
            <a href="http://dribbble.com">Dribbble</a>
          </div>
          <div class="paragraph">
            <h1>Dribbble</h1>
            <p>I do not have a Dribbble account. Would any of you be so kind and send me an invite? </p>
          </div>
        </li>
      </ul>
    </div>


  </div>


</div>
