<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- Author:  Andres Bayona -->
<html>
<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="backgroundD">
  <br>

  <div class="postFrame container-fluid">

    <div class="row header">
      <div class="col-md-2 ">

        <img class="profilePicture" src="http://placeimg.com/640/360/any%7D">


      </div>

      <div class="col-md-6">
        <div class="row name">{{resident.name}}
        </div>
        <div class="row spacer">
        </div>
          <div class="row date">{{resident.nickname}}
        </div>
      </div>

      <hr style="border: 1px solid#C8C8C8;"/>

    </div>


  </div>
</div>


</html>
