<div style="     min-height: 100%;">
  <div class=" banner" style="background-image: url('https://wallpaperaccess.com/full/1760835.jpg');">


    <div class="wraper row">


      <div class="outer-circle">
        <img class="inner-circle" src="http://placeimg.com/640/360/any%7D">
      </div>
      <div class="name"> {{resident.name}}
      </div>


    </div>


    <div class="footer ">

    </div>
  </div>

  <div class="info">
    <p class="options">About
    </p>
  </div>

  <br>
  <br>

  <div class="row content">


    <div class="col-lg-3 col-md-6 mb-3">

      <div class="favor">Recent favors
      </div>

      <app-simple-favor-list [favors]="resident.favorsRequested">
      </app-simple-favor-list>

      <br>

        <div class="pictures">Pictures
      </div>

      <app-gallery>
      </app-gallery>

    </div>


      <div class="col-lg-6 col-md-6 mb-3">
        <app-post-list [postsByInput]="true"  [neigh_id]="neigh_id"  [posts]="resident.posts" [originals]="resident.posts">
        </app-post-list>
    </div>

     <div class="col-lg-3 col-md-6 mb-3">

        <app-simple-event-list [favors]="resident.favorsRequested">
      </app-simple-event-list>
       </div>


  </div>
</div>
