<h3>
  Notification-List
</h3>
<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h5">Header</th>
          <th class="h5">Description</th>
          <th class="h5">Seen</th>
          <th class="h5">Priority</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let c of notifications">
          <td>
            <dd>{{c.header}}</dd>
          </td>
          <td>
            <dd>{{c.description}}</dd>
          </td>
          <td>
            <dd>{{c.seen}}</dd>
          </td>
          <td>
            <dd>{{c.priority}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>